@import 'libs/bootstrap-reboot.min';
@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
}

.container { 
    width: 1110px;
    margin: 0 auto;
}



@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/catalog';