.footer {
    padding-top: 80px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 255px);
        column-gap: 30px;
    }
    &__title {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $main_color;
    }
    &__divider {
        margin-top: 10px;
        width: 255px;
        border: 1px solid #333333;
        &_large {
            margin-top: 60px;
            width: 1110px;
        }
    }
    &__item {
        &-descr {
            margin-top: 30px;
            display: flex;
            align-items: space-around;
            flex-direction: column;
        }
        &-links {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $main_color;
            margin-bottom: 15px;
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
        &-social {
            margin-top: 5px;
            img {
                margin-right: 20px;
            }
        }
        &-tel {
            margin-bottom: 15px;
            padding-left: 40px;
            position: relative;
            &:before {
                content: url('../icons/footer/phone.svg');
                position: absolute;
                top: 2px;
                left: 0;
            }
        }
        &-email {
            position: relative;
            padding-left: 40px;
            &:before {
                content: url('../icons/footer/mail.svg');
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }
    &__agent {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        &-item {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: $main_color;
        }
        a {
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            text-decoration-line: underline;
            color: $main_color;
        }
    }
}