.menu {
    position: absolute;
    top: 25px;
    z-index: 2;
    display: grid;
    grid-template-columns: 320px 216px 350px;
    column-gap: 115px;
    align-items: center;
    &__links {
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        a {
            list-style-type: none;
            color: #fff;
        }
    }
    &__active {
        display: flex;
        justify-content: space-between;

    }
    &__search {
        width: 80px;
        form {
            position: relative;
            input {
                margin-left: 13px;
                width: 80px;
                border: none;
                background-color: transparent;
                padding: 0 5px;
                color: #fff;
                &::placeholder {
                    color: #fff;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    text-align: right;
                }
            }
            a {
                position: absolute;
                display: block;
                left: -15px;
            }
        }
        
    }
    &__signup {
        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
            list-style-type: none;
        }

    }
}